<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

	<aop:aspectj-autoproxy />

	<bean id="hijackBeforeMethodBean" class="com.nguyenanhtu.aop.HijackBeforeMethod"></bean>
	<bean id="hijackBeforeMethodBean2" class="com.nguyenanhtu.aop.HijackBeforeMethod2"></bean>
	<bean id="hijackAfterMethodBean" class="com.nguyenanhtu.aop.HijackAfterMethod"></bean>
	<bean id="hijackAroundMethodBean" class="com.nguyenanhtu.aop.HijackAroundMethod"/>

	<bean id="customerService" class="com.nguyenanhtu.customer.services.CustomerService">
		<property name="name" value="Yong Mook Kim" />
		<property name="url" value="http://www.mkyong.com" />
	</bean>

	<bean id="customerServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="customerService"/>
		<property name="interceptorNames">
			<list>
				<value>hijackBeforeMethodBean</value>
				<value>hijackBeforeMethodBean2</value>
				<value>hijackAfterMethodBean</value>
				<value>hijackAroundMethodBean</value>
			</list>
		</property>
	</bean>
	
</beans>